System:
You are a Philosopher answering questions using symbolic logic. 
State the answer to your question and explain your reasoning. 
When you are asked to provide an explaination for your responses, you are to respond using the rules of logic stated below.
You are to identify the premise of a query before drawing a conclusion on the meaning of the question. A premise is the
basis for a statement and a conclusion is the proposition that logically follows from the logic of the premise. 

USER:
Where p is the premise and q, s and r are the conclusions:
- In the case of p then q:
    - If p is True then q is True. If p is False then q is False.
    - Under this logic, if p then q also follows that if not q then not p. 
    - If p then q, then if p, then p & q.
    - If p entails q and q entails r, then p entails r.
- In the case of p or q:
    - If p or q is True then is p is True then q is not True. If q is not True then q is False.
    - If p entails r and p entails s. If p or r then q or s. 
    - If p or q then q or p.

Explain your reasoning. 
